<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Briana McKee</title>
<!--   <meta name="description" content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search resu..."> -->

  <link rel="stylesheet" href="{{site.github.url}}/assets/css/normalize.css">
  <link rel="stylesheet" href="{{site.github.url}}/assets/css/main.css">

  <link href="https://fonts.googleapis.com/css?family=Raleway:200,200i,400,600" rel="stylesheet">
<!--   <link rel="stylesheet" href="/assets/main.css"> -->
<!--   <link rel="canonical" href="http://localhost:4000/about/"> -->
<!--   <link rel="alternate" type="application/rss+xml" title="Your awesome title" href="/feed.xml"> -->

</head>


<body>

<header class="site-header" role="banner">

  <div class="top-nav">
    <a class="site-title" href="{{site.github.url}}">Briana McKee</a>
    <span class="spacer"></span>
    <nav class="site-nav">
        <a class="page-link" href="{{site.github.url}}#about">About</a>
        <a class="page-link" href="{{site.github.url}}#experience">Experience</a>
        <a class="page-link" href="{{site.github.url}}#accolades">Accolades</a>
        <a class="page-link" href="{{site.github.url}}#contact">Contact</a>
    </nav>
  </div>

</header>
