---
layout: default
---

<div class="welcome" vocab="http://schema.org/" typeof="Service">
  <meta property="serviceType" content="skin care"/>
  <div class="intro">
    <img src="{{site.github.url}}/assets/img/headshot3.png">
    <p class="hi">Hi, I'm Briana!</p>
    <p>
      I'm a licensed esthetician working in <span property="areaServed" typeOf="City">Frisco</span>, <span property="areaServed" typeOf="State">Texas.</span>
    </p>
  </div>
  <div class="feature-section">
    <div class="feature">
      <img src="{{site.github.url}}/assets/img/pentagon-gray.png">
      <a href="#">I &#x2764; your face!</a>
      <p>Read more about what I do</p>
    </div>
    <div class="feature">
      <img src="{{site.github.url}}/assets/img/pentagon-gray.png">
      <a href="{{site.github.url}}/request-appointment.html">Book appointment</a>
      <p>Visit me for skin care awesomeness</p>
    </div>
    <div class="feature">
      <img src="{{site.github.url}}/assets/img/pentagon-gray.png">
      <a href="#">Hire me</a>
      <p>I'm interested in new adventures</p>
    </div>
  </div><!--feature-wrapper-->
</div><!--welcome-->

<section class="container" id="about">
  <header>
    <h1>About me</h1>
  </header>
    <h2>My philosophy</h2>
      <p><em>I love my clients.</em> Candy canes tart chupa chups pie sweet dessert chocolate bar sweet roll. Tart sesame snaps cheesecake wafer bear claw chupa chups.</p>
      <p><em>I crazy about science.</em> Candy canes tart chupa chups pie sweet dessert chocolate bar sweet roll. Tart sesame snaps cheesecake wafer bear claw chupa chups.</p>
      <p><em>I'm passionate about my industry.</em> Candy canes tart chupa chups pie sweet dessert chocolate bar sweet roll. Tart sesame snaps cheesecake wafer bear claw chupa chups.</p>
    <h2>Specialties</h2>
      <ul>
        <li>Candy canes tart chupa chups pie sweet dessert chocolate bar sweet roll.</li>
        <li>Tart sesame snaps cheesecake wafer bear claw chupa chups.</li>
      </ul>
    <h2>Professional interests</h2>
      <ul>
        <li>Candy canes tart chupa chups pie sweet dessert chocolate bar sweet roll.</li>
        <li>Tart sesame snaps cheesecake wafer bear claw chupa chups.</li>
      </ul>
</section>

<section class="container" id="experience">
  <header>
    <h1>Experience</h1>
  </header>
    <h2>License and Certifications</h2>
    <h2>Education</h2>
    <h2>Employment</h2>
    <h2>Activities</h2>
  <p>Experience info goes here</p>
</section>

<section class="container" id="accolades">
  <header>
    <h1>Accolades</h1>
  </header>
  {% include reviews-home.html %}
</section>

<section class="container" id="contact">
  <header>
    <h1>Contact</h1>
  </header>
  <p>Simple contact form goes here</p>
</section>
